body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
:root {
    --primary-color: #2f8431;
    --primary-color-shade:#3ca53e;
    --secondary-color:#0f226a;
    --white-color: #ffffff;
    --paragraph-color:#3e3e3e;
    --banner-heading-font:'Roboto', sans-serif;
    --main-font:'Raleway', sans-serif;
  }
  .common-padding{
    padding:5% 0;
  }
  .common-heading{
    font-size: 2vw;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--main-font);
  }
.custom-container{
width: 75%;
margin: 0 auto;
}
.main-wrapper{
width: 100%;
position: relative;
}
.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.hero-section::after{
    position: absolute;
    content: "";
    background-image: url(../img/hero-banner-bottom-leaf.png);
    background-repeat: no-repeat;
    left: -100px;
    bottom: -185px;
    width: 315px;
    height: 551px;
    transform: scale(0.4);
}
header {
    width: 100%;
    padding: 2% 0 0 2%;
    height: 165px;
}
header a img{
    width: 55%;
}
header .navbar{
    padding: 0;
}
header .navbar-light .navbar-brand{
    padding-top: 0;
}
.hero-section .hero-section-left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.hero-section .hero-section-left h1{
    font-family: var(--banner-heading-font);
    color: var(--secondary-color);
    font-size: 4.2vw;
    line-height: 90px;
    font-weight: 600;
}
.hero-section .hero-section-left p{
    font-family: var(--main-font);
    color: var(--paragraph-color);
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: 1.6vw;
}
.hero-section .hero-section-right img{
    width: 95%;
}
.main-banner-content {
    width: 100%;
    height: calc(92% - 165px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-the-future{
    width: 100%;
    background-image: url("../img/experience-the-future.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.experience-the-future .experience-the-future-content{
    padding-left: 8%;
    border-left: 4px solid var(--primary-color-shade);
    padding-bottom: 2vw;
}
.experience-the-future .experience-the-future-content h2, .packaging-solutions-left h2{
    color:var(--primary-color);
    font-size: 2vw;
    font-family: var(--main-font);
    font-weight: 700;
    margin-bottom: 2vw;
}
.experience-the-future .experience-the-future-content li{
    margin-bottom: 2vw;
    list-style: none;
}
.experience-the-future .experience-the-future-content li:nth-last-child(1){
    margin-bottom: 0vw;
}
.experience-the-future .experience-the-future-content li span{
    color: var(--paragraph-color);
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 0.2vw;
    display: block;
}
.experience-the-future .experience-the-future-content li p,.packaging-solutions-left p{
    color: var(--paragraph-color);
    font-size: 0.9vw;
    font-weight: 400;
    width: 90%;
    line-height: 30px;
}
.call-back{
    background-color: var(--primary-color-shade);
    padding: 12px;
    text-align: center;
}
.call-back h4{
    color: var(--white-color);
    font-size: 1.1vw;
}
.packaging-solutions-left p{
    width: 65%;
    border-left: 4px solid var(--primary-color-shade);
    margin-bottom: 3vw;
    padding-left: 0.6vw;
    font-size: 1vw;
}
.packaging-solutions-left p:nth-last-child(1){
    margin-bottom: 0vw;
}
.packaging-solutions-right{
    background-image: url("../img/packaging-right-form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.packaging-solutions-right .form-control{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    font-family: var(--main-font);
    font-size: 0.9vw;
    color: var(--white-color);
    font-weight: 500;
    padding: 0 0 1vw 0;
}

.packaging-solutions-right .form-control:focus{
    box-shadow: none;
}
.packaging-solutions-right .form-control::placeholder {
    color:var(--white-color);
    opacity: 1; 
  }
  .packaging-solutions-right .form-control::-ms-input-placeholder {
    color:var(--white-color);
  }
  .packaging-solutions-right .form-group{
    margin-bottom: 3vw;
  }
  .packaging-solutions-right .btn.solutions-submit{
    background-color: #7c7c7b;
    color: var(--white-color);
    border: none;
    font-family: var(--main-font);
    border-radius: 50px;
    padding: 0.5vw 1.3vw;
    font-weight: 600;
    transition: all 0.5s;
  }
  .packaging-solutions-right .btn.solutions-submit:focus{
    box-shadow: none;
  }
  .packaging-solutions-right .btn.solutions-submit.active,  .packaging-solutions-right .btn.solutions-submit:hover{
    background-color: var(--primary-color-shade);
    transition: all 0.5s;
  }
  .our-offerings{
    width: 100%;
  }
  .offerings_slider{
    padding-top: 120px;
  }

.offerings_slider .owl-item > div {
    cursor: pointer;
    transition: margin 0.2s ease;
    text-align: center;
    background: rgb(237,237,237);
    background: linear-gradient(0deg, rgba(237,237,237,1) 40%, rgba(253,187,45,0) 70%);
    padding: 20px;
  }
  .offerings_slider .owl-item > div img{
    width: 42%!important;
    margin: 0 auto;
    display: block;
  }
  .offerings_slider .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }
  .offerings_slider .owl-item.center > div h2{
    font-size:1.5vw ;
  }
  .offerings_slider .owl-item.center > div img{
    width: 49%!important;
  }
  .offerings_slider .owl-item.center > div p{
    font-size:16px ;
    line-height: 24px;
  }
  .offerings_slider .owl-item:not(.center) > div:hover {
    opacity: .75;
  }

.offerings_slider .owl-item a.offerings-read-more{
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 5px 15px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8vw;
}

.offerings_slider .owl-item > div h2{
    color: var(--primary-color);
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 15px;
}
.offerings_slider .owl-item > div p{
    color: var(--paragraph-color);
    font-size: 14px;
    margin: 13px 0;
    line-height: 22px;
}
.carousel-main{
    margin-top: 60px;
}
.carousel-main .owl-dots{
    display: none;
}
.carousel-main .awards-img{
    background-color: #f4f2f2;
    padding: 20px;
}
.carousel-main .awards-img img{
    width: 45%!important;
    margin: 0 auto;
    display:block;
}
.carousel-main span{
    display: block;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
footer{
    width: 100%;
    padding: 4% 0;
}
footer .footer-main{
    width: 100%;
    display: flex;
    gap: 50px;
}
footer .footer-main .footer-box{
    width: 25%;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style: none;
    font-family: var(--main-font);
}
footer ul li a{
    text-decoration: none;
    color: var(--primary-color-shade);
    font-weight: 600;
    font-size: 1vw;
    margin-bottom: 5px;
    display: block;
}
footer ul li a:hover{
    text-decoration: none;
}
footer ul li a.thin-font{
    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 0.9vw;
}
.our-clients{
    width: 100%;
    background-image: url("../img/clients-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

