body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
:root {
    --primary-color: #2f8431;
    --primary-color-shade:#3ca53e;
    --secondary-color:#0f226a;
    --white-color: #ffffff;
    --paragraph-color:#3e3e3e;
    --banner-heading-font:'Roboto', sans-serif;
    --main-font:'Raleway', sans-serif;
  }
  .common-padding{
    padding:5% 0;
  }
  .common-heading{
    font-size: 2vw;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    text-align: center;
    font-family: var(--main-font);
  }
.custom-container{
width: 75%;
margin: 0 auto;
}
.main-wrapper{
width: 100%;
position: relative;
}
.hero-section{
    width: 100%;
    height: 100vh;
    background-image: url("../img/hero-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.hero-section::after{
    position: absolute;
    content: "";
    background-image: url(../img/hero-banner-bottom-leaf.png);
    background-repeat: no-repeat;
    left: -100px;
    bottom: -185px;
    width: 315px;
    height: 551px;
    transform: scale(0.4);
}
.hero-section::before{
    position: absolute;
    content: "";
    background-image: url(../img/hero-banner-top-leaf.png);
    background-repeat: no-repeat;
    right:0;
    top: 0;
    width: 604px;
    height: 511px;
    transform: scale(1);
    z-index: 1;
}
header {
    width: 100%;
    padding: 2% 0 0 2%;
    height: 165px;
}
header a img{
    width: 55%;
}
header .navbar{
    padding: 0;
}
header .navbar-light .navbar-brand{
    padding-top: 0;
}
.hero-section .hero-section-left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}
.hero-section .hero-section-left h1{
    font-family: var(--banner-heading-font);
    color: var(--secondary-color);
    font-size: 4.2vw;
    line-height: 90px;
    font-weight: 600;
}
.hero-section .hero-section-left p{
    font-family: var(--main-font);
    color: var(--paragraph-color);
    font-size: 1.2vw;
    font-weight: 700;
    margin-top: 1.6vw;
}
.hero-section .hero-section-right img{
    width: 95%;
}
.main-banner-content {
    width: 100%;
    height: calc(92% - 165px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.experience-the-future{
    width: 100%;
    background-image: url("../img/experience-the-future.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.experience-the-future .experience-the-future-content{
    padding-left: 8%;
    border-left: 4px solid var(--primary-color-shade);
    padding-bottom: 2vw;
}
.experience-the-future .experience-the-future-content h2, .packaging-solutions-left h2{
    color:var(--primary-color);
    font-size: 2vw;
    font-family: var(--main-font);
    font-weight: 700;
    margin-bottom: 2vw;
}
.experience-the-future .experience-the-future-content li{
    margin-bottom: 2vw;
    list-style: none;
}
.experience-the-future .experience-the-future-content li:nth-last-child(1){
    margin-bottom: 0vw;
}
.experience-the-future .experience-the-future-content li span{
    color: var(--paragraph-color);
    font-size: 1.2vw;
    font-weight: 600;
    margin-bottom: 0.2vw;
    display: block;
}
.experience-the-future .experience-the-future-content li p,.packaging-solutions-left p{
    color: var(--paragraph-color);
    font-size: 0.9vw;
    font-weight: 400;
    width: 90%;
    line-height: 30px;
}
.experience-left img{
    width: 85%;
    position: relative;
    left: -250px;
    top: 50px;
}
.call-back{
    background-color: var(--primary-color-shade);
    padding: 12px;
    text-align: center;
}
.call-back h4{
    color: var(--white-color);
    font-size: 1.1vw;
}
.packaging-solutions-left p{
    width: 65%;
    border-left: 4px solid var(--primary-color-shade);
    margin-bottom: 3vw;
    padding-left: 0.6vw;
    font-size: 1vw;
}
.packaging-solutions-left p:nth-last-child(1){
    margin-bottom: 0vw;
}
.packaging-solutions-right{
    background-image: url("../img/packaging-right-form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.packaging-solutions-right .form-control{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    font-family: var(--main-font);
    font-size: 0.9vw;
    color: var(--white-color);
    font-weight: 500;
    padding: 0 0 1vw 0;
}

.packaging-solutions-right .form-control:focus{
    box-shadow: none;
}
.packaging-solutions-right .form-control::placeholder {
    color:var(--white-color);
    opacity: 1; 
  }
  .packaging-solutions-right .form-control::-ms-input-placeholder {
    color:var(--white-color);
  }
  .packaging-solutions-right .form-group{
    margin-bottom: 3vw;
  }
  .packaging-solutions-right .btn.solutions-submit{
    background-color: #7c7c7b;
    color: var(--white-color);
    border: none;
    font-family: var(--main-font);
    border-radius: 50px;
    padding: 0.5vw 1.3vw;
    font-weight: 600;
    transition: all 0.5s;
  }
  .packaging-solutions-right .btn.solutions-submit:focus{
    box-shadow: none;
  }
  .packaging-solutions-right .btn.solutions-submit.active,  .packaging-solutions-right .btn.solutions-submit:hover{
    background-color: var(--primary-color-shade);
    transition: all 0.5s;
  }
  .our-offerings{
    width: 100%;
  }

.awards-carousel{
    margin-top: 60px;
}
.awards-carousel .owl-dots{
    display: none;
}
.awards-carousel .awards-img{
    background-color: #f4f2f2;
    padding: 20px;
}
.awards-carousel .awards-img img{
    width: 45%!important;
    margin: 0 auto;
    display:block;
}
.awards-carousel span{
    display: block;
    font-size: 1vw;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.awards-carousel .owl-nav button.owl-next span,.awards-carousel .owl-nav button.owl-prev span{
    width: 45px;
    height: 45px;
    background-image: url(../svg/arrow-right-s-line.svg);
    background-repeat: no-repeat;
    color: transparent;
    position: absolute;
    top: 50px;
    right: -75px;
}
.awards-carousel .owl-nav button.owl-prev span{
    background-image: url(../svg/arrow-left-s-line.svg);
    top: 50px;
    left: -75px;
}
footer{
    width: 100%;
    padding: 4% 0;
}
footer .footer-main{
    width: 100%;
    display: flex;
    gap: 50px;
}
footer .footer-main .footer-box{
    width: 25%;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style: none;
    font-family: var(--main-font);
}
footer ul li a{
    text-decoration: none;
    color: var(--primary-color-shade);
    font-weight: 600;
    font-size: 1vw;
    margin-bottom: 5px;
    display: block;
    transition: all 0.5s;
}
footer ul li a:hover{
    text-decoration: none;
    color: var(--secondary-color);
    transition: all 0.5s;
    margin-left: 7px;
}
footer ul li a.thin-font{
    color: var(--paragraph-color);
    transition: all 0.5s;
    font-weight: 500;
    font-size: 0.9vw;
}
footer ul li a.thin-font:hover{
    color: var(--secondary-color);
    transition: all 0.5s;
}
.our-clients{
    width: 100%;
    background-image: url("../img/clients-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.our-clients .brand-carousel{
    margin-top: 55px;
}
.our-clients .owl-carousel .owl-item img{
    width: 70%;
}

/*********** new offerings css*************/
.our-offerings .card {
    background: linear-gradient(0deg, rgba(237,237,237,1) 40%, rgba(253,187,45,0) 70%);
    padding: 20px;
    border: 0;
  }
.our-offerings .card .card-img-top {
    width: 35%;
    margin: 0 auto;
    display: block;
  }
.our-offerings .card h5 {
    color: var(--primary-color);
    font-size: 1.5vw;
    font-weight: 600;
    margin-top: 5px;
    font-family: var(--main-font);
  }
.our-offerings .card p {
    color: var(--paragraph-color);
    font-size: 15px;
    margin-top: 10px;
    line-height: 24px;
    margin-bottom: 20px;
    font-family: var(--main-font);
  }
  .our-offerings .owl-item a.offerings-read-more {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 6px 15px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8vw;
    font-family: var(--main-font);
}
.our-offerings .active {
    opacity: 0.9;
    transition: all 0.3s;
  }
.our-offerings .center {
    opacity: 1;
  }
.our-offerings .center h5 {
    font-size: 1.5vw;
  }
.our-offerings .center .card-img-top {
    width: 40%;
  }
  .our-offerings-slider{
    margin-top: 80px;
  }
  .our-offerings-slider .owl-nav button.owl-next span,.our-offerings-slider .owl-nav button.owl-prev span{
    width: 50px;
    height: 50px;
    background-image: url(../svg/arrow-right-s-line.svg);
    background-repeat: no-repeat;
    color: transparent;
    position: absolute;
    top: 37%;
    right: -115px;
}
.our-offerings-slider .owl-nav button.owl-prev span{
    background-image: url(../svg/arrow-left-s-line.svg);
    top: 37%;
    left: -115px;
}
  .our-offerings .card-body{
    padding:1.25rem 1.25rem  0 1.25rem ;
  }
  #myModal .packaging-solutions-right{
    padding: 35px;
    background-color: #0000008c;
    background-image: none;
    border-radius: 30px;
  } 
  #myModal .modal-dialog{
    max-width: 60%;
  }
  #myModal .modal-content{
    border: none;
    border-radius: 0%;
  }
  #myModal .modal-content button.close{
    padding: 0;
    border: 0;
    position: absolute;
    right: 0;
    top: -35px;
    opacity: 1;
  }
.modal-open .modal{
    /* background: #ffffffad; */
    background: url('../img/pop-form-bg.png'), #fffffff0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #myModal .modal-content button span{
    background-image: url(../svg/close-icon.svg);
    width: 26px;
    height: 26px;
    display: block;
    background-repeat: no-repeat;
  }
  #myModal .modal-content button.close:focus{
    opacity: 1;
  }
  #myModal .modal-body{
    padding: 0;
    background-image: url("../img/form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #myModal .form-right{
    padding: 30px;
  }
  #myModal .form-left{
    color: var(--white-color);
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2.5vw;
  }
  #myModal .form-left h2{
    line-height: 55px;
    font-weight: 500;
    font-size: 2vw;
  }
  .modal-open .modal {
    padding-right: 0!important;
}
.request-call-back{
  width: 100%;
  text-align: center;
  background-color: var(--primary-color-shade);
  padding: 12px 0px;
}
.request-call-back h4{
  color: var(--white-color);
  font-family: var(--main-font);
  font-size: 1.2vw;
}
#myModal .modal-content button.close:focus-visible{
  outline: 0;
}
#myModal .modal-content button.close:focus{
  outline: 0;
}
#myModal .modal-content button span:focus-visible{
  outline: 0;
}
#myModal .modal-content button span:focus{
  outline: 0;
}

  

